@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);

//base styles

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

.container { 
  display: table-cell;
  padding: 1em;
  text-align: center; 
  vertical-align: middle;
}


//default button
.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%; 
  
  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;
  
    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
  
  @media(min-width: 600px) {
  
    &:nth-of-type(even) {
      margin-right: 2.5em;
    }
    
    &:nth-of-type(5) {
      margin-right: 0;
    }
    
  }
  
  &:hover { text-decoration: none; }
  
}

/////////////////////////////
//button-5 
///////////////////////////
.glass {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.glass:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
