.slideshow {
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}
.slideshow-image {
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.page-header {
	padding: 0;
}
