body {
	margin: 0;
	padding: 0;
}
.slideshow {
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}
.slideshow-image {
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	
	webkit-filter: blur(3px);
	filter: blur(3px);
}
.slideshow-inside {
	position: absolute;
	text-align: center;
	line-height: 600px;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	float: none;
	clear: both;
}

.page-header {
	padding: 0;
}
