body {
	margin: 0;
	padding: 0;
}
.slideshow {
	display: table-cell;
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
	
	vertical-align: middle;
 	text-align: center;
}
.slideshow-image {
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	
	webkit-filter: blur(3px);
	filter: blur(3px);
}
.slideshow-inside {
	position: absolute;
	display: inline-block;
}
.page-header {
	padding: 0;
}
