@import "compass/css3";

.slideshow {
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}
.slideshow-image {
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	
	webkit-filter: blur(3px);
	filter: blur(3px);
}
.slideshow-inside {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	line-height: 600px;
	display: flex;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.slideshow-inside-text {
	background-color: white;
	border: solid 1px white;
	border-radius: 15px;
	line-height: 30px;
	margin: auto;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
	
	padding: 10px 20px;
}
.grow {
	transition: all .2s ease-in-out;
}
.grow:hover {
	transform: scale(1.1);
}
.buttons {
    background:#2ECCFA;
    border:none;
    margin:14px;
    padding:10px 24px;
    color:#FFF;
    -webkit-border-radius:5px;
    cursor:pointer;
    -webkit-transition: all 100ms ease;
    &:hover{
      background:lighten(#2ECCFA, 20%);
      margin:6px;
      padding:18px 32px;
      -webkit-transition: all 100ms ease;
    }
  }
